.left-pane {
    list-style: none;
    padding: 1%;
    margin-top: 80px !important; /* Using !important to ensure it takes precedence */
}

ul {
    list-style: none;
    margin: 20px auto;
    width: 90%;
}

li {
    border: 1px solid green;
    padding: 1%;
}

.list-group li {
    cursor: pointer;
}
